.color-picker {
    &__container {
        text-align: center;
        padding: 3rem 1rem 4rem 1rem;
    }

    &__header {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: scssColorCreator(--color-tertiary-light);
    }
}
