.feature-list {
    border-radius: 4px;
    border: solid 2px scssColorCreator(--color-tertiary-light);
    padding: 1rem;
    color: scssColorCreator(--color-primary-light);
    width: 100%;
    text-align: center;

    &__header {
        font-family: 'Oswald', sans-serif;
        color: inherit;
        border-bottom: solid 2px scssColorCreator(--color-tertiary-light);
        font-size: 4rem;
    }

    &__list {
        padding-top: 1rem;
        list-style: none;
        color: inherit;
    }

    &__element {
        padding: 0.5rem;
        font-size: 1.5rem;
        color: scssColorCreator(--color-tertiary-light);

        &--active {
            color: scssColorCreator(--color-tertiary-light);
        }

        &--completed {
            color: scssColorCreator(--color-tertiary-dark);
            text-decoration: line-through;
        }
    }
}
