$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Cardo', sans-serif;

:root {
    --color-primary-light: #86c232;
    --color-primary-dark: #61892f;

    --color-secondary: #222629;
    --color-grey-dary: #474b4f;
    --color-grey-light: #6b6e70;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*
    Fontsize is used to define what 1 rem is.
    16px is the default font size so we take 62.5% of that and make 1 rem = 10px
*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
