.gen__ {
    &display--flex {
        display: flex;
    }

    &justify-content--sb {
        justify-content: space-between;
    }

    &width--100 {
        width: 100%;
    }

    &align-items--center {
        align-items: center;
    }

    &margin-right--small {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &no_scroll {
        overflow: hidden;
    }

    &non_home_page {
        margin-top: 10rem;

        @include mobile {
            margin-top: 4rem;
        }
    }
}
