.gen__display--flex {
    display: flex;
}

.gen__justify-content--sb {
    justify-content: space-between;
}

.gen__width--100 {
    width: 100%;
}

.gen_align-items--center {
    align-items: center;
}

.gen_margin-right--small {
    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.gen_no_scroll {
    overflow: hidden;
}
