
.contact_me {
    height: 90vh;

    @include tablet {
        height: fit-content;
        margin-bottom: 5rem;
    }

    &__container{
        width: 100%;
        height: 100%;
        display: flex;

        @include tablet {
            margin-top: 10rem;
            flex-direction: column; 
        }
    }

    &__container-half{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 100%;
            height: fit-content;
        }
    }

    &__title{
        font-size: 6rem;
        color: scssColorCreator(--color-tertiary-light)
    }

    &__form{
        margin-top: 10vh;

        @include tablet {
            max-width: 450px;
            margin-top: 0; 
        }
    }

    &__cta{
        display: flex;
        border: 1px solid transparent;
        padding: 2rem;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;
        user-select: none;
        box-shadow: var(--shadow-white);
        margin-top: 3rem;
        color: scssColorCreator(--color-tertiary-light);
        transition: all .5s;

        @include tablet {
            height: fit-content;
            margin-bottom: 5rem;
            max-width: 450px;
            width:80%;
        }

        &-secondary{
            width: 80%;
            display: flex;
            justify-content: center;
            color: rgb(var(--color-primary-light));
        }

        &--label{
            font-size: 2rem;
            @include tablet {
                font-size: 3rem;
            }
        }

        &--email{
            color: scssColorCreator(--color-primary-light);
            cursor: pointer;
        }
    }

    &__icon{
        height: 60%;
        width: auto;
        align-self: center;
        color: scssColorCreator(--color-tertiary-dark);

        &_container{
            width: 5rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            background-color: scssColorCreator(--color-tertiary-light);
            border-radius: 10px;
            margin-right: 1rem;

            &--success{
                margin-left: 2rem;
                background-color: $color-success;
            }
        }
    }

    &__cta:hover{
        border-color: scssColorCreator(--color-primary-light);
    }

    &__cta:active {
        transform: translateY(3px);
    }

    &__modal{
        &--no_error{
            display: flex;
            align-items: center;
            font-size: 2rem;
        }

        &--error{
            font-size: 2rem;
            color:$color-error;
        }

        &--btn-container{
            margin-top: 2rem;
            display:flex;
        }
        
    }
}