@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin placeAbsoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin target-metro {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: $bp-large) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $bp-medium) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $bp-smaller) {
        @content;
    }
}

@mixin micro-mobile {
    @media screen and (max-width: $bp-mini) {
        @content;
    }
}

@mixin mobile-safari {
    @media screen and (max-width: $bp-smaller) and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
        @content;
    }

    @media screen and (max-width: $bp-mini) and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
        @content;
    }
}
