.content {
    &-container {
        background-color: var(--color-primary-light);
        min-height: 100vh;
        position: relative;

        display: grid;
        grid-template-rows: minmax(min-content, 100vh) 1fr minmax(min-content, 4rem);
        grid-row-gap: 2rem;
    }
}
