.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__button-container {
        display: flex;
        padding-bottom: 1rem;
    }

    &__link-button {
        display: flex;
        align-self: center;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__icon {
        cursor: pointer;
        height: 3rem;
        width: auto;
        fill: scssColorCreator(--color-tertiary-light);
        transition: all 0.2s;

        &:hover {
            fill: scssColorCreator(--color-primary-light);
        }
        &:active {
            transform: translateY(3px);
        }
    }

    &__copyright {
        font-size: 1.5rem;
    }
}
