.header {
    color: var(--color-primary-light);

    &-nav {
        position: absolute;
        width: 100%;

        display: flex;
        justify-content: space-between;

        &__button {
            padding: 1.5rem 2rem;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            outline: none;
            cursor: pointer;
            transition: 0.2s all;
            color: var(--color-grey-dark);
            box-shadow: none;
            transform: translateY(0);

            &:hover,
            :active {
                background-color: var(--color-secondary);
                color: var(--color-grey-light);
                box-shadow: var(--shadow-light);
            }

            &:active {
                background-color: var(--color-primary-light);
                transform: translateY(3px);
            }
        }
    }

    &__name {
        font-family: $font-primary;
        font-size: 8rem;
        text-transform: uppercase;
        color: inherit;
        white-space: nowrap;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-130%, -50%);
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &::after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(130%, -50%);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &::before,
        &::after {
            display: block;
            content: '';
            height: 1rem;
            width: 6rem;
            background-color: var(--color-primary-light);
        }
    }

    &__background-img {
        background-image: radial-gradient(var(--color-secondary) 65%, var(--color-primary-light));
        background-size: cover;
        background-position: top left;
        height: 100%;
    }
    //begining with name large in the middle with different button options at the top in light green color with no background
    //as you scroll, have name float up and shrink until it reaches header height and that comes down with you
}
