
.layout {

    background: linear-gradient(to top left, transparent, rgba(238, 238, 238, 0.082) 25%, transparent 50%, rgba(238, 238, 238, 0.082) 75%, transparent);

    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;

    display: grid;
    grid-template-rows: minmax(min-content, 90vh) 1fr minmax(min-content, 0rem);
    grid-auto-columns: 100%;

    &__page-title {
        width: 30%;
        margin: auto;
        margin-bottom: 4rem;
        max-width: 30rem;
    }

}