.layout {
    background-color: scssColorCreator(--color-secondary);
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;

    display: grid;
    grid-template-rows: minmax(min-content, 90vh) 1fr minmax(min-content, 0rem);
    grid-auto-columns: 100%;

    &__page-title {
        width: 30%;
        margin: auto;
        margin-bottom: 4rem;
        max-width: 30rem;
    }
}
