.nav {
    color: scssColorCreator(--color-primary-light);
    position: fixed;
    width: 100%;
    padding: 1rem 5px;
    z-index: 100;
    transition: transform 0.2s;
    transform: translate(0, 0);
    background-color: scssColorCreator(--color-secondary);
    border-bottom: 1px solid scssColorCreator(--color-tertiary-dark);

    &__container {
        min-height: 4rem;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    &__collapse {
        transform: translate(0, -100%);
    }

    &__button-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }

    @media screen and (max-width: $bp-smaller) {
        &__button-container {
            display: none;
        }
        border-bottom: unset;
    }
}

.nav-name {
    z-index: 1;
    font-family: $font-primary;
    font-size: 8rem;
    text-transform: uppercase;
    color: inherit;
    text-align: center;

    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-130%, -50%);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(130%, -50%);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &::before,
    &::after {
        display: block;
        content: '';
        height: 0.15em;
        width: 0.6em;
        background-color: scssColorCreator(--color-primary-light);
    }

    //BUG WHERE THE NAME ISNT EXACTLY CENTERED
    @media screen and (max-width: $bp-medium) {
        &::before,
        &::after {
            display: none;
        }
    }
}
