.side_drawer_nav {
    background-color: scssColorCreator(--color-tertiary-light);
    padding: 3rem 2rem 3rem 2rem;
    border-right: scssColorCreator(--color-primary-light) 1rem solid;

    &--nav_element {
        font-size: 8rem;
        cursor: pointer;
        width: 100%;
        min-width: max-content;
        height: fit-content;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: scssColorCreator(--color-tertiary-light);

        @include mobile-safari {
            font-size: 5rem;
        }
    }

    &--nav_text {
        color: scssColorCreator(--color-secondary);
        outline: none;
        overflow: hidden;
    }

    &--closed_drawer {
        padding: 3rem 0rem 3rem 0rem;
        border-right: 0;
    }
}
