:root {
    --color-primary-light: 191, 189, 96;
    --color-primary-dark: 207, 203, 19;

    --color-secondary: 4, 4, 4;

    --color-tertiary-dark: 201, 205, 209;
    --color-tertiary-light: 55, 56, 58;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}
