:root {
    --color-primary-light: 134, 194, 50;
    --color-primary-dark: 97, 137, 47;

    --color-secondary: 37, 38, 41;
    --color-grey-dark: 71, 75, 79;
    --color-grey-light: 107, 110, 112;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}
